@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*10rem*/
}
:root {
  --offwhite: rgb(214, 230, 255);
  --play-fair: 'Playfair Display', serif;
  --kufam: 'Kufam', serif;
  --bg-header: linear-gradient(
      to right,
      rgba(9, 66, 152, 0.7),
      rgba(15, 70, 154, 0.5)
    ),
    url('/img/trophy-3.jpg');
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --box-shadow-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --color-blue: #0f469a;
}
body {
  font-family: var(--kufam);
  font-size: 1rem;
}
